html{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background-color:  #3D405B;
  color: #F4F1DE;
}

.rectangle-h{
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  max-width: 80%;
}

#name{
  width: 60%;
  margin: 5px;
  padding: 0 20px;
  font-size: 80px;
  float: left;
}

#clock{
  margin: 5px;
  font-size: 80px;
  float: right;
}

.rectangle-cont{
  margin: 20px auto;
  width: 80%;
  height: 640px;
  border: 1px solid white;
}

#content{
  width: 750px;
  margin: 5px;
  padding: 20px;
  font-size: 24px;
  float: left;
}

.rectangle-v{
  width: auto;
  height: auto;
  margin: 5px auto;
  font-size: 40px;
  float: right;
}
.sidebar{
  height: auto;
  padding: 20px 20px;
  width: auto;
  margin: 15px auto;
  margin-right: 5px;
  text-align: center;
}
#Bio{
  background-color: #81B29A;
}

#Bio:hover{
  background-color: #619e81;
  color:#e6dfb3;
}

#Projects{
  background-color: #81b1b1;
}

#Projects:hover{
  background-color: #619e9e;
  color:#e6dfb3;
}

#Skills{
  background-color: #8199b1;
}

#Skills:hover{
  background-color: #61809e;
  color:#e6dfb3;
}

#footer{
  font-size: 24px;
  padding: 0 20px;
  text-align: left;
}
a:-webkit-any-link{
  color: #F4F1DE;
}
