html{
  box-sizing: border-box;
}

.container{
  width: 1200px;
  height: 200px;
  border: 2px solid black;
  margin: 0 auto;
  margin-top: 60px;
}

.container header{
  width: 100%;
  margin: 0;
  position: relative;
}
