/* Poppins font created by Indian Type Foundry. License :  Open Font License
https://fonts.google.com/specimen/Poppins
*/
/* ---------- anchors styling -----------------------*/
a:-webkit-any-link {
  text-decoration: none;
  color: SeaShell;
  font-family: 'Poppins', sans-serif;
}

a:-moz-any-link {
  text-decoration: none;
  color: SeaShell;
  font-family: 'Poppins', sans-serif;
}

a:any-link {
  text-decoration: none;
  color: SeaShell;

}
/* --------------- end of anchor styling -------------------------*/
/* -------------- generic styling ------------------------*/
*{
  margin: 0px;
  padding: 0px;
  text-align: justify;
}
html{
  font-size: 100%;
  text-decoration: none;
  scroll-behavior: smooth;
  line-height: 1.5;
}
h1{
  text-align: center;
  padding: 40px 0 ;
}
h2 {
  padding: 30px 0;
}
nav{
  margin-top: 20px;
  position: relative;
}
li{
  background: #e0436a;
  padding: 2px 0;
  margin: -1px;
}
li:nth-child(1){
  border-radius: 7px 7px 0 0;
}
li:nth-last-child(2){
  border-radius: 0 0 7px 7px;
}
.navigation{
  display: none;
}
.active{
  font-weight: bold;
}
.fixed{
  position: fixed;
  top: -2px;
  width: 100%;
}
ul{
  list-style-type: none;
  height: auto;
  z-index: 2;
}
body{
  background: linear-gradient(80deg, DeepSkyBlue, DarkBlue) no-repeat;
  background-size: auto 100vh;
  background-attachment: fixed;
  color: SeaShell;
  font-family: 'Poppins', sans-serif;
  display: grid;
}
main{
  display: grid;
  grid-auto-columns: auto;
  grid-template-rows: repeat(9,minmax(20vh,auto));
}
footer{
  position: fixed;
  bottom: 2%;
  right:  50%;
  width: calc(50% + 30px);
  transform: translateX(50%);
}
/* +++++++++++++++++++ hamburger  menu  and arrow++++++++++++++++++++++++++++++*/
#hamburger{
  width: 35px;
  height: 14px;
  position: absolute;
  top: 12px;
  right: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
#hamburger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 40%;
  background: SeaShell;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#hamburger span:nth-child(odd){
  border-radius: 4px 0px 0px 4px;
}
#hamburger span:nth-child(even){
  border-radius: 0px 4px 4px 0px;
}
#hamburger span:nth-child(1){
  top: 0px;
  left: 0px;
}
#hamburger span:nth-child(2){
  top: 0px;
  left: calc(50% - 5px);
}
#hamburger span:nth-child(3){
  top: 6px;
  left: 0%;
}
#hamburger span:nth-child(4){
  top: 6px;
  left: calc(50% - 5px);
}
#hamburger span:nth-child(5){
  top: 12px;
  left: 0%;
}
#hamburger span:nth-child(6){
  top: 12px;
  left: calc(50% - 5px);

}
#hamburger.open span:nth-child(1), #hamburger.open span:nth-child(6){
  transform: rotate(45deg);
}
#hamburger.open span:nth-child(2),
#hamburger.open span:nth-child(5){
  transform: rotate(-45deg);
}
#hamburger.open span:nth-child(3){
  left: -50%;
  opacity: 0;
}
#hamburger.open span:nth-child(4){
  left: 100%;
  opacity: 0;
}
.arrow1, .arrow2{
  position: fixed;
  width: 30px;
  height: 30px;
  left: 50%;
  bottom: 40px;
  z-index: 1;
}
.arrow1{
  animation: move 2s infinite ease-in;
}
.arrow2{
  animation: move 2s infinite ease-in 1s;
}
.arrow1 span, .arrow2 span {
  display: block;
  position: fixed;
  width: 60%;
  height: 2px;
  background: SeaShell;
  opacity: 0.8;
}
.arrow1 span:nth-child(1),.arrow2 span:nth-child(1){
  left: 0;
  top: 10px;
  transform: translateX(-50%) rotate(45deg);
}
.arrow1 span:nth-child(2), .arrow2 span:nth-child(2){
  left: calc(50% - 3px);
  top: 10px;
  transform: translateX(-50%) rotate(-45deg);
}
@keyframes move {
  0%{
    transform: translateY(0%);
  }
  100%{
    transform: translateY(100%);
    opacity: 0;
  }
}footer a[href*="mail"]{
  content: url('../images/gmail30.png');
  width: 30px;
  display: inline-block;
  float:right;
}
footer a[href*="http"]{
  content: url('../images/in30.png');
  width: 30px;
  display: inline-block;
  float: left;
}
/* ++++++++++++++++++++++ end of hamburger menu and arrow ++++++++++++++++++++++++ */
/* --------------------- end of generic styling ------------------------*/
/* --------------------- Small screens --------------------------------- */
@media only screen {
  body{
    padding: 10% 5%;
  }
} /* Define mobile styles */

@media only screen and (max-width: 40em) {
  ul{
    position: absolute;
    top: 25%;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
  }
  h1{
    padding-bottom: 30px;
  }
  li{
    padding: 10px 0 5px 9%;
  }
  body{
    padding: 10% 5%;
  }
  main{
    padding: 0 5%;
  }
  main section:nth-child(1){
    grid-row: 1;
    height: 60vh;
    display: flex;
    flex: 1;
    align-items: center;
    transform: translateY(-10%);
  }
  main section:nth-child(2){
    grid-row: 3;
    display: flex;
    flex: 1;
    align-items: center;
  }
  main section:nth-child(3){
    grid-row: 5;
    display: flex;
    flex: 1;
    align-items: center;
  }
  main section:nth-child(4){
    grid-row: 7;
    display: flex;
    flex: 1;
    align-items: center;
  }
 } /* max-width 640px, mobile-only styles, use when QAing mobile issues */
/* ------------------------ end of Small screens ----------------------------*/
/* ------------------------ Medium screens ----------------------------------*/
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
/* ------------------------ end of Medium screens ----------------------------------*/
/* ------------------------ Large screens ----------------------------------*/
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
    body {
      font-size:110%;
    }

   } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
/* ------------------------ end of Large screens ----------------------------------*/
/* ------------------------ XLarge screens ----------------------------------*/
@media only screen and (min-width: 90.063em) {
    html {
      padding:0 15%;
     }
   } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) {
    html {
      padding:0 20%;
    }
    body {
       font-size:125%;
    }
   } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
/* ------------------------ end of XLarge screens ----------------------------------*/
/* ------------------------ XXLarge screens ----------------------------------*/
@media only screen and (min-width: 120.063em) {
    html {
       padding:0 20%;
    }
   } /* min-width 1921px, xxlarge screens */
/* ------------------------ end of  XXLarge screens ----------------------------------*/
