html{
  font-size: 10px;
  font-family: 'Abel', sans-serif;
  box-sizing: border-box;
}

body{
  background-color: rgba(0,0,200,0.4);
  width: 800px;
  margin: 10px auto;
}

body header, article, footer, li{
  height: auto;
  background-image: linear-gradient(to bottom right, white, rgba(0,0,0,0.9));
  border: 1px solid black;
  border-radius: 40px 20px / 40px 20px;
  margin: 10px 5px;
  padding: 0 3rem;
  font-size: 2rem;
  box-shadow: 10px 10px 5px black,
              inset -20px -10px 20px rgba(0,0,0,0.2),
              inset 20px 10px 10px rgba(255,255,255,0.2),
              30px 30px 20px rgba(0,0,70,0.9);
}

body article:hover, footer:hover, li:hover{
  background-image: linear-gradient(to bottom right, white, rgba(0,0,0,0.5));
  box-shadow: 10px 10px 5px black,
              inset 20px 10px 10px rgba(255,255,255,0.2),
              30px 30px 20px rgba(0,0,70,0.9);
}

body header{
  margin-top: 40px;
}

body header h1{

  font-size: 3rem;
  font-family: 'Bad Script', cursive;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.5),
               4px 4px 1px rgba(0,0,10,0.4),
               6px 6px 2px rgba(0,0,20,0.3),
               8px 8px 2px rgba(0,0,50,0.2),
               10px 10px 5px rgba(0,0,70,0.9);
  letter-spacing: 5px;
}

section{
  display: flex;
}

h2{
  font-size: 2.5rem;
}

article{
  height: 480px;
  flex: 3 200px;
}

aside{
  flex: 1 50px;
}

aside nav ul li{
  text-align: center;
  list-style-type: none;
  padding: 0.5rem 0;
}

ul{
  padding: 2rem 1rem;
}
