/* Poppins font created by Indian Type Foundry. License :  Open Font License
https://fonts.google.com/specimen/Poppins
*/
/* ---------- anchors styling -----------------------*/
a:-webkit-any-link {
  text-decoration: none;
  color: SeaShell;
  font-family: 'Poppins', sans-serif;
}

a:-moz-any-link {
  text-decoration: none;
  color: SeaShell;
  font-family: 'Poppins', sans-serif;
}

a:any-link {
  text-decoration: none;
  color: SeaShell;

}
/* --------------- end of anchor styling -------------------------*/
/* -------------- generic styling ------------------------*/
*{
  margin: 0px;
  padding: 0px;
  text-align: justify;
}
html{
  font-size: 100%;
  text-decoration: none;
  scroll-behavior: smooth;
  line-height: 1.5;
}
.shutter{
  background: -webkit-linear-gradient(80deg, DeepSkyBlue, DarkBlue) no-repeat;
  background: -webkit-gradient(linear, 80deg, DeepSkyBlue, DarkBlue) no-repeat;
  background: -moz-linear-gradient(80deg, DeepSkyBlue, DarkBlue) no-repeat;
  background: -o-linear-gradient(80deg, DeepSkyBlue, DarkBlue) no-repeat;
  background: linear-gradient(80deg, DeepSkyBlue, DarkBlue) no-repeat;
  background-size: 100vw 100vh;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 41;
  background-attachment: fixed;
}

#Character{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -40%;
}

#Welcome,#Home, section:first-child{
  z-index: 41;
}
#Gallery{
  padding: 1em 0;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-around;
}
#Certyficates{
  padding-top: 30px;
  text-align: center;
}
h1{
  text-align: center;
  padding: 40px 0 ;
}
h2 {
  padding: 30px 0;
}
nav{
  margin-top: 20px;
  position: relative;
}
li{
  background: #e0436a;
  padding: 8px 0 8px 10%;
  margin: -1px;
}
li:nth-child(1){
  border-radius: 7px 7px 0 0;
}
li:nth-last-child(2){
  border-radius: 0 0 7px 7px;
}
.navigation{
  display: none;
}
.active{
  font-weight: bold;
}
.fixed{
  position: fixed;
  top: 0px;
  width: 100%;
}
ul{
  list-style-type: none;
  height: auto;
  z-index: 2;
  position: absolute;
  top: 25%;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}
body{
  background: -webkit-linear-gradient(95deg, DeepSkyBlue, DarkBlue) no-repeat;
  background: -webkit-gradient(linear, 95deg, DeepSkyBlue, DarkBlue) no-repeat;
  background: -moz-linear-gradient(95deg, DeepSkyBlue, DarkBlue) no-repeat;
  background: -o-linear-gradient(95deg, DeepSkyBlue, DarkBlue) no-repeat;
  background: linear-gradient(95deg, DeepSkyBlue, DarkBlue) no-repeat;
  color: SeaShell;
  font-family: 'Poppins', sans-serif;
  max-width: 1000px;
}
main{
  display: grid;
  grid-auto-columns: auto;
  grid-template-rows: repeat(9,minmax(20vh,auto));
}
footer{
  position: fixed;
  bottom: 0%;
  left:  0%;
  width: 100%;
  padding-top: 4px;
  background: #e0436a;
  /* transform: translateX(50%); */
}
footer a[href*="mail"]{
  content: url('../images/gmail30.png');
  width: 30px;
  display: inline-block;
  margin-right: 15%;
  margin-bottom: 5px;
  float: right;
}
footer a[href*="http"]{
  content: url('../images/in30.png');
  width: 30px;
  display: inline-block;
  float: left;
  margin-bottom: 5px;
  margin-left: 15%;
}
/* +++++++++++++++++++ hamburger  menu  and arrow++++++++++++++++++++++++++++++*/
#hamburger{
  width: 35px;
  height: 14px;
  position: absolute;
  top: 12px;
  right: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
#hamburger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 40%;
  background: SeaShell;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#hamburger span:nth-child(odd){
  border-radius: 4px 0px 0px 4px;
}
#hamburger span:nth-child(even){
  border-radius: 0px 4px 4px 0px;
}
#hamburger span:nth-child(1){
  top: 2px;
  left: 0px;
}
#hamburger span:nth-child(2){
  top: 2px;
  left: calc(50% - 5px);
}
#hamburger span:nth-child(3){
  top: 8px;
  left: 0%;
}
#hamburger span:nth-child(4){
  top: 8px;
  left: calc(50% - 5px);
}
#hamburger span:nth-child(5){
  top: 14px;
  left: 0%;
}
#hamburger span:nth-child(6){
  top: 14px;
  left: calc(50% - 5px);

}
#hamburger.open span:nth-child(1), #hamburger.open span:nth-child(6){
  transform: rotate(45deg);
}
#hamburger.open span:nth-child(2),
#hamburger.open span:nth-child(5){
  transform: rotate(-45deg);
}
#hamburger.open span:nth-child(3){
  left: -50%;
  opacity: 0;
}
#hamburger.open span:nth-child(4){
  left: 100%;
  opacity: 0;
}
.arrow1, .arrow2{
  position: fixed;
  width: 30px;
  height: 30px;
  left: 50%;
  bottom: 10px;
  z-index: 1;
  cursor: pointer;
}
.arrow1{
  animation: move 2s infinite ease-in;
}
.arrow2{
  animation: move 2s infinite ease-in 1s;
}
.arrow1 span, .arrow2 span {
  display: block;
  position: fixed;
  width: 60%;
  height: 2px;
  background: SeaShell;
  opacity: 0.8;
}
.arrow1 span:nth-child(1),.arrow2 span:nth-child(1){
  left: 0;
  top: 10px;
  transform: translateX(-50%) rotate(45deg);
}
.arrow1 span:nth-child(2), .arrow2 span:nth-child(2){
  left: calc(50% - 3px);
  top: 10px;
  transform: translateX(-50%) rotate(-45deg);
}
@keyframes move {
  0%{
    transform: translateY(0%);
  }
  100%{
    transform: translateY(100%);
    opacity: 0;
  }
}
html::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
	background-color: rgba(19, 44, 160, 1);
}

html::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

html::-webkit-scrollbar-thumb
{
	background-color: rgba(224, 67, 105, 1);
  border-radius: 12px 0 0 0;
}
/* ++++++++++++++++++++++ end of hamburger menu and arrow ++++++++++++++++++++++++ */
/* --------------------- end of generic styling ------------------------*/
/* --------------------- Small screens --------------------------------- */
@media only screen {
  body{
    padding: 10% 5%;
  }
} /* Define mobile styles */

@media only screen and (max-width: 40em) {
  h1{
    padding-bottom: 30px;
  }
  body{
    padding: 10% 5%;
  }
  main{
    padding: 0 5%;
  }
  main section:nth-child(1){
    grid-row: 1;
    height: 60vh;
    display: flex;
    flex: 1;
    align-items: center;
    transform: translateY(-10%);
  }
  main section:nth-child(2){
    grid-row: 3;
    display: flex;
    flex: 1;
    align-items: center;
  }
  main section:nth-child(3){
    grid-row: 5;
    display: flex;
    flex: 1;
    align-items: center;
  }
  main section:nth-child(4){
    grid-row: 7;
    display: flex;
    flex: 1;
    align-items: center;
  }
  #Gallery a img{
    width: 70px;
    height: 70px;
  }
 } /* max-width 640px, mobile-only styles, use when QAing mobile issues */
/* ------------------------ end of Small screens ----------------------------*/
/* ------------------------ Medium screens ----------------------------------*/
@media only screen and (min-width: 40.063em) {
  main{
    display: grid;
    grid-auto-columns: auto;
    grid-template-rows: repeat(9,minmax(20vh,auto));
  }
  main section:nth-child(1){
    grid-row: 1;
    height: 60vh;
    display: flex;
    flex: 1;
    align-items: center;
    transform: translateY(-10%);
  }
  main section:nth-child(2){
    grid-row: 3;
    display: flex;
    flex: 1;
    align-items: center;
  }
  main section:nth-child(3){
    grid-row: 5;
    display: flex;
    flex: 1;
    align-items: center;
  }
  main section:nth-child(4){
    grid-row: 7;
    display: flex;
    flex: 1;
    align-items: center;
  }
 } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  html{
    font-size: 19px;
  }
  .fixed li{
    padding: 8px 0 8px 16.5%;
  }
  .fixed{
    position: fixed;
    top: 0px;
    width: 100%;
  }
  #Gallery a img{
    width: 160px;
    height: 160px;
  }
  main{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(9,minmax(20vh,auto));
  }
  section{
    grid-column: 2/8;
  }
  main section:nth-child(1){
    grid-row: 1;
    height: 60vh;
    display: flex;
    flex: 1;
    align-items: center;
    transform: translateY(-10%);
  }
  main section:nth-child(2){
    grid-row: 3;
    display: flex;
    flex: 1;
    align-items: center;
  }
  main section:nth-child(3){
    grid-row: 5;
    display: flex;
    flex: 1;
    align-items: center;
  }
  main section:nth-child(4){
    grid-row: 7;
    display: flex;
    flex: 1;
    align-items: center;
  }
  footer a[href*="mail"]{
    margin-right: 30%;
  }
  footer a[href*="http"]{

    margin-left: 30%;
  }
 } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
/* ------------------------ end of Medium screens ----------------------------------*/
/* ------------------------ Large screens ----------------------------------*/
@media only screen and (min-width: 64.063em) {
   #Gallery a img{
      width: 160px;
      height: 160px;
    }
   html {
      padding:0 15%;
     }
     .fixed li{
       padding: 8px 0 8px 26.5%;
     }
   main{
      display: grid;
      grid-template-columns: repeat(8,1fr);
      grid-template-rows: repeat(9,minmax(20vh,auto));
     }
   section{
      grid-column: 2/8;
     }
   main section:nth-child(1){
      grid-row: 1;
      height: 60vh;
      display: flex;
      flex: 1;
      align-items: center;
      transform: translateY(-10%);
     }
   main section:nth-child(2){
      grid-row: 3;
      display: flex;
      flex: 1;
      align-items: center;
     }
   main section:nth-child(3){
      grid-row: 5;
      display: flex;
      flex: 1;
      align-items: center;
     }
   main section:nth-child(4){
      grid-row: 7;
      display: flex;
      flex: 1;
      align-items: center;
     }
 } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
   #Gallery a img{
    width: 160px;
    height: 160px;
    }
    .fixed li{
      padding: 8px 0 8px 26.5%;
    }
   body {
    font-size:110%;
   }
   main{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(9,minmax(20vh,auto));
   }
   section{
    grid-column: 2/8;
    }
   main section:nth-child(1){
    grid-row: 1;
    height: 60vh;
    display: flex;
    flex: 1;
    align-items: center;
    transform: translateY(-10%);
   }
   main section:nth-child(2){
    grid-row: 3;
    display: flex;
    flex: 1;
    align-items: center;
   }
   main section:nth-child(3){
    grid-row: 5;
    display: flex;
    flex: 1;
    align-items: center;
   }
   main section:nth-child(4){
    grid-row: 7;
    display: flex;
    flex: 1;
    align-items: center;
   }
 } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
/* ------------------------ end of Large screens ----------------------------------*/
/* ------------------------ XLarge screens ----------------------------------*/
@media only screen and (min-width: 90.063em) {
  .fixed li{
    padding: 8px 0 8px 26.5%;
  }
  #Gallery a img{
    width: 160px;
    height: 160px;
  }
  html {
    padding:0 15%;
   }
  main{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(9,minmax(20vh,auto));
  }
  section{
   grid-column: 2/8;
  }
  main section:nth-child(1){
   grid-row: 1;
   height: 60vh;
   display: flex;
   flex: 1;
   align-items: center;
   transform: translateY(-10%);
  }
  main section:nth-child(2){
   grid-row: 3;
   display: flex;
   flex: 1;
   align-items: center;
  }
  main section:nth-child(3){
   grid-row: 5;
   display: flex;
   flex: 1;
   align-items: center;
  }
  main section:nth-child(4){
   grid-row: 7;
   display: flex;
   flex: 1;
   align-items: center;
  }/* min-width 1441px, xlarge screens */
}
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
  html {
    padding:0 20%;
  }
  .fixed li{
    padding: 8px 0 8px 26.5%;
  }
  #Gallery a img{
    width: 160px;
    height: 160px;
  }
  body {
     font-size:125%;
  }
  html {
      padding:0 15%;
  }
  main{
     display: grid;
     grid-template-columns: repeat(8,1fr);
     grid-template-rows: repeat(9,minmax(20vh,auto));
  }
  section{
     grid-column: 2/8;
  }
  main section:nth-child(1){
     grid-row: 1;
     height: 60vh;
     display: flex;
     flex: 1;
     align-items: center;
     transform: translateY(-10%);
  }
  main section:nth-child(2){
     grid-row: 3;
     display: flex;
     flex: 1;
     align-items: center;
  }
  main section:nth-child(3){
     grid-row: 5;
     display: flex;
     flex: 1;
     align-items: center;
  }
  main section:nth-child(4){
     grid-row: 7;
     display: flex;
     flex: 1;
     align-items: center;
  }/* min-width 1441px, xlarge screens */
 } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
/* ------------------------ end of XLarge screens ----------------------------------*/
/* ------------------------ XXLarge screens ----------------------------------*/
@media only screen and (min-width: 120.063em) {
    html {
       padding:0 20%;
    }
    .fixed li{
      padding: 8px 0 8px 26.5%;
    }
    #Gallery a img{
      width: 160px;
      height: 160px;
    }
      html {
        padding:0 15%;
     }
     main{
       display: grid;
       grid-template-columns: repeat(8,1fr);
       grid-template-rows: repeat(9,minmax(20vh,auto));
     }
     section{
       grid-column: 2/8;
     }
     main section:nth-child(1){
       grid-row: 1;
       height: 60vh;
       display: flex;
       flex: 1;
       align-items: center;
       transform: translateY(-10%);
     }
     main section:nth-child(2){
       grid-row: 3;
       display: flex;
       flex: 1;
       align-items: center;
     }
     main section:nth-child(3){
       grid-row: 5;
       display: flex;
       flex: 1;
       align-items: center;
     }
     main section:nth-child(4){
       grid-row: 7;
       display: flex;
       flex: 1;
       align-items: center;
     }/* min-width 1441px, xlarge screens */
   } /* min-width 1921px, xxlarge screens */
/* ------------------------ end of  XXLarge screens ----------------------------------*/
