@media only screen{
  *{
    margin: 0;
    padding: 0;
  }
  html{
    box-sizing:border-box;
    line-height: 1.75;
    letter-spacing: 1px;
    scroll-behavior: smooth;
    font-size: 19px;
  }
  html::-webkit-scrollbar-track
  {
  	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
  	background-color: rgba(19, 44, 160, 1);
  }

  html::-webkit-scrollbar
  {
  	width: 10px;
  	background-color: #F5F5F5;
  }

  html::-webkit-scrollbar-thumb
  {
  	background-color: rgba(224, 67, 105, 1);
    border-radius: 12px 0 0 0;
  }
  body{
    margin: 0 auto;
    background: -webkit-linear-gradient(95deg, DeepSkyBlue, DarkBlue) no-repeat;
    background: -webkit-gradient(linear, 95deg, DeepSkyBlue, DarkBlue) no-repeat;
    background: -moz-linear-gradient(95deg, DeepSkyBlue, DarkBlue) no-repeat;
    background: -o-linear-gradient(95deg, DeepSkyBlue, DarkBlue) no-repeat;
    background: linear-gradient(95deg, DeepSkyBlue, DarkBlue) no-repeat;
    color: SeaShell;
    font-family: 'Poppins', sans-serif;
    padding: 10% 5%;
  }
  a:-webkit-any-link {
    text-decoration: none;
    color: SeaShell;
    font-family: 'Poppins', sans-serif;
  }

  a:-moz-any-link {
    text-decoration: none;
    color: SeaShell;
    font-family: 'Poppins', sans-serif;
  }

  a:any-link {
    text-decoration: none;
    color: SeaShell;
  }
  .shutter{
    background: -webkit-linear-gradient(80deg, DeepSkyBlue, DarkBlue) no-repeat;
    background: -webkit-gradient(linear, 80deg, DeepSkyBlue, DarkBlue) no-repeat;
    background: -moz-linear-gradient(80deg, DeepSkyBlue, DarkBlue) no-repeat;
    background: -o-linear-gradient(80deg, DeepSkyBlue, DarkBlue) no-repeat;
    background: linear-gradient(80deg, DeepSkyBlue, DarkBlue) no-repeat;
    background-size: 100vw 100vh;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 41;
    background-attachment: fixed;
  }
  #Character{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -40%;
  }
  .body-wrapper{
    padding: 0%;
    display: flex;
    flex-flow: column wrap;
    margin: 0 auto;
    width: 80%;
    max-width: 1000px;
  }

  .main-layout{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .main-layout article:not(:nth-child(1)):not(:nth-child(2)){
    padding-top: 200px;
  }
  .nav-pos{
    position: sticky;
    top: 0%;
    z-index: 2;
  }

  .navbar{
    list-style: none;
    height: auto;
    position: relative;
  }
  .navbar__element{
    padding: 8px 0 8px 10%;
    margin: -1px;
    cursor: pointer;
 }
  .navbar__element--active{
    font-weight: bold;
  }
  .navbar__element--invisible{
    display: none;
  }
  .navbar_element--styling{
    background: #e0436a;
  }
  .hamburger{
    width: 35px;
    height: 14px;
    position: absolute;
    top: 12px;
    right: 15px;
    cursor: pointer;
  }
  .hamburger__dash{
    display: block;
    position: absolute;
    height: 2px;
    width: 40%;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  .hamburger__dash--styling{
    background: SeaShell;
    opacity: 1;
  }
  .hamburger__dash:nth-child(odd){
    border-radius: 4px 0px 0px 4px;
  }
  .hamburger__dash:nth-child(even){
    border-radius: 0px 4px 4px 0px;
  }
  .hamburger__dash:nth-child(1){
    top: 2px;
    left: 0px;
  }
  .hamburger__dash:nth-child(2){
    top: 2px;
    left: calc(50% - 5px);
  }
  .hamburger__dash:nth-child(3){
    top: 8px;
    left: 0%;
  }
  .hamburger__dash:nth-child(4){
    top: 8px;
    left: calc(50% - 5px);
  }
  .hamburger__dash:nth-child(5){
    top: 14px;
    left: 0%;
  }
  .hamburger__dash:nth-child(6){
    top: 14px;
    left: calc(50% - 5px);
  }
  .hamburger__dash--open:nth-child(1), .hamburger__dash--open:nth-child(6){
    transform: rotate(45deg);
  }
  .hamburger__dash--open:nth-child(2),
  .hamburger__dash--open:nth-child(5){
    transform: rotate(-45deg);
  }
  .hamburger__dash--open:nth-child(3){
    left: -50%;
    opacity: 0;
  }
  .hamburger__dash--open:nth-child(4){
    left: 100%;
    opacity: 0;
  }

  #Home{
    height:60vh;
    padding-top: 55px;
    z-index: 41;
  }

  .header__text{
    text-align: center;
    padding-top: 35px;
  }
  .header__text--position{
    padding: 25px 0;
  }

  .article__text{
    padding: 0 5%;
    text-align: justify;
  }
  .article__title{
    padding: 20px 0;
  }

  .gallery{
    padding: 1em 0;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .list-of-projects{
    list-style-type: none;
    margin-top: 20px;
  }
  .list-of-projects__element{
    padding-left: 20px;
    margin: 10px 0;
  }
  .list-of-projects__element:hover{
    animation: Gradient 3s ease-in-out infinite;
  }
  .list-of-projects__element--styling{
    background: linear-gradient(60deg, rgba(255,255,255,0.4) , rgba(255,255,255,0) 35%);
    border-left: 5px solid #e0436a;
    background-position: 40% 0%;
    background-size: 200% 200%;
  }
  .list-of-projects__element__description{
    padding-left: 20px;
  }
  @keyframes Gradient {
    0% {
      background-position: 40% 0%
    }
    50% {
      background-position: 10% 0%
    }
    100% {
      background-position: 40% 0%
    }
  }

  .footer{
    position: fixed;
    bottom: -1px;
    width: 100%;
    left: 0%;
    z-index: 2;
  }
  .footer--styling{
    background: #e0436a;
  }
  .footer__element{
    display: inline-block;
    margin-bottom: 5px;
    width: 30px;
  }
  .footer__element:first-child{
    content: url(../images/gmail30.png);
    float: left;
    margin-left: 15%;
  }
  .footer__element:nth-child(2){
    content: url(../images/in30.png);
    margin-right: 15%;
    float: right;
  }
  .arrow{
    position: fixed;
    width: 40px;
    height: 40px;
    left: 50%;
    bottom: -3px;
    transform: translate(-50%);
    cursor: pointer;
  }
  .arrow > *{
    position: fixed;
    width: 30px;
    height: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
  .arrow__first{
    animation: move 2s infinite ease-in;
  }
  .arrow__second{
    animation: move 2s infinite ease-in 1s;
  }
  .arrow__first__dash, .arrow__second__dash{
    position: fixed;
    width: 60%;
    height: 2px;
    background: SeaShell;
    opacity: 0.8;
  }
  .arrow__first .arrow__first__dash:nth-child(1), .arrow__second .arrow__second__dash:nth-child(1) {
    left: 0;
    top: 10px;
    transform: translateX(-50%) rotate(45deg);
  }
  .arrow__first .arrow__first__dash:nth-child(2), .arrow__second .arrow__second__dash:nth-child(2) {
    left: calc(50% - 3px);
    top: 10px;
    transform: translateX(-50%) rotate(-45deg);
  }
  @keyframes move {
    0%{
      transform: translate(-50%, 0%);
    }
    100%{
      transform: translate(-50%,100%);
      opacity: 0;
    }
  }
}


@media only screen and (max-width: 40em){
  .body-wrapper{
    padding: 10% 5%;
  }
  html{
    font-size: 16px;
  }
  .nav-pos{
    position: fixed;
    width: 100%;
    left: 0%;
  }
  .navbar__element{
    padding: 8px 0 8px 10%;
    margin: -1px;
  }

  .gallery_element{
    width: 70px;
    height: 70px;
  }
}
@media only screen and (min-width: 40em){
  .gallery_element{
    width: 140px;
    height: 140px;
  }
}
@media only screen and (min-width: 64em){
  .gallery_element{
    width: 210px;
    height: 210px;
  }
}
@media only screen and (min-width: 90em){
  .gallery_element{
    width: 210px;
    height: 210px;
  }
  body{
    font-size: 110%;
  }
}
@media only screen and (max-width: 120em) and (min-width: 90em){
  html {
    padding:0 15%;
   }
}
@media only screen and (min-width: 120.063em){
  html {
     padding:0 20%;
  }
}
