a,
a:hover,
a:focus,
a:visited{
  text-decoration: none;
  color: rgba(200,200,200,0.6);
}

html{
  box-sizing: border-box;
  font-size: 10px;
  min-height: 100%;
  min-width: 400px;
  color: rgba(200,200,200,0.6);
  background-color: rgba(32,32,32,0.8);
  box-shadow: inset 5px 5px 100px rgba(255,255,255,0.2),
              inset 0px 0px 100px rgba(0,0,0,0.3);
}
body{
  height: 100%;
}

nav{
  display: inline-block;
  position: fixed;
  right: 10%;
  top: 0;
  width: 400px;
}

.portfolio{
  display: inline-block;
  margin-top: 80px;
  margin-left: 100px;
  padding-left: 20px;
  color: rgba(200,200,200,0.6);
  font-size: 3rem;
}

nav .active, .active:focus, a:active {
  color: rgba(240,240,240,0.8);
  text-decoration: underline;
  text-decoration-color: rgba(255,255,255,1);
}
nav a:hover{
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.container{
  max-width: 1050px;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
}
.container ul{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 0;
  text-align: center;
  list-style: none;
  font-size: 2rem;
}

main{
  display: grid;
  border-radius: 20px;
  border-bottom: 3px solid rgba(200,200,200,0.1);
  border-top: 3px solid rgba(200,200,200,0.1);
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: minmax(50px, auto);
}

section{
  grid-column: 2/8;
  grid-row: 2/5;
  text-align: center;
  padding: 40px 25px;
  font-size: 1.75rem;
  line-height: 1.5;
}

section >p::first-line{
  font-size: 1.2em;

}

footer{
  position: fixed;
  left: 50%;
  bottom: 0px;
  font-size: 2rem;
  transform: translate(-50%, -50%);
}

@media (max-width: 600px){
  .portfolio{
    margin: 0 auto;
    display: block;
    text-align: center;
  }
  .container{
    max-width: 800px;
    min-width: 400px;
  }
  nav{
    position: sticky;
    margin: 20px auto;
    width: 100%;
  }
  .container header nav ul{
    /* display: inline-block; */
    display: flex;
    flex: 3 100px;
    flex-wrap: wrap;
    margin: 20px auto;
    align-items:  center;
    justify-content: space-around;
  }

  section{
    grid-row: 1/3;
  }

  .container header nav ul li {
    text-align: center;
  }
  footer{
    position: fixed;
    left: 50%;
    bottom: 0px;
    font-size: 2rem;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 600px){
  footer{
  position: static;
  text-align: center;
  transform: translate(0,0);
  }
}
